body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #046473;
}

.calculator {
    width: 350px;
    background: #6c6f7a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 1.8em;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: #111111;
    color: rgb(248, 243, 243);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background: #555;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #777;
}

button:nth-child(4n), button:nth-child(17) {
    background: #ff9500;
    color: white;
}
footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: rgb(247, 251, 3);
    font-weight: bold;
    text-align: center;
}
